/*
Aufgabe: (Abschlussaufgabe EIA2)
Name: (Maximilian Braun)
Matrikel: (256301)
Datum: (23.02.2018)
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.*/
canvas {
	width: 100%;
	
}

@media screen and (min-width: 1280px) {
	canvas {
		width: 100%;
		height: 100%;
	}
}